doctype html
html
  head
    title= chatistics
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='http://www.chartjs.org/assets/Chart.js')
    script(src="/socket.io/socket.io.js")
  body
    block content
